.carousel {
    overflow: hidden;
}

.carousel-inner {
    white-space: nowrap;
    transition: transform 0.3s;
}

.carousel-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
}

.indicators {
    display: flex;
    justify-content: center;
}

.indicators > button {
    margin: 5px;
    margin-top: 20 px;
}

.indicators > button.active {
    background-color: #CBCDCB;
    color: black;
}